html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
}

.mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  background-color: #ffcc00;
  color: #333;
}

mat-toolbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.nav-item {
  color: #333;
  font-weight: 500;
}

.nav-item:hover {
  background-color: #ffd633;
}

.content-area {
  flex-grow: 1;
  background-color: #ffffef;
}

.top-toolbar {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
}

.content {
  padding: 20px;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.sidenav-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.cidra-title {
  font-size: 1.5rem;
  font-weight: bold;
}
